name: Testing

on:
  push:
    paths-ignore:
      - 'docs/**'
    branches:
      - main
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref }}
    cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
    pytest:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest]
                python-version: ["3.10"]

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v5
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Set min. dependencies
              if: matrix.requires == 'oldest'
              run: |
                  import os
                  fname = 'requirements/base.txt'
                  lines = [line.replace('>=', '==') for line in open(fname).readlines()]
                  open(fname, 'w').writelines(lines)
              shell: python

            - name: Install main package & dependencies
              run: |
                  pip install -e .[dev,extra] -f ${TORCH_URL}
                  pip list

            - name: Restore test's datasets
              uses: actions/cache/restore@v4
              with:
                  path: tests/.datasets
                  key: test-datasets

            - name: Run test-suite
              run: python -m pytest -v

            - name: Save test's datasets
              uses: actions/cache/save@v4
              with:
                  path: tests/.datasets
                  key: test-datasets
